packaging_format = 2

id = "bookstack"
name = "BookStack"
description.en = "Platform to create documentation/wiki content"
description.fr = "Plateforme pour créer du contenu de documentation/wiki"

version = "22.10.1~ynh1"

maintainers = ["eric_G"]

[upstream]
license = "MIT"
website = "https://www.bookstackapp.com"
demo = "https://demo.bookstackapp.com"
admindoc = "https://www.bookstackapp.com/docs/admin/"
userdoc = "https://www.bookstackapp.com/docs/user/"
code = "https://github.com/BookStackApp/BookStack"

[integration]
yunohost = ">= 11.1.0"
architectures = "all"
multi_instance = true
ldap = "true"
sso = "true"
disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    # this is a generic question - ask strings are automatically handled by YunoHost's core
    type = "domain"

    [install.path]
    # this is a generic question - ask strings are automatically handled by YunoHost's core
    type = "path"
    default = "/bookstack"

    [install.admin]
    # this is a generic question - ask strings are automatically handled by YunoHost's core
    type = "user"

    [install.language]
    ask.en = "Choose the application language"
    ask.fr = "Choisissez la langue de l'application"
    type = "string"
    choices = ["de", "en", "es_ES", "fa", "fr", "it", "lt", "nl", "pl", "pt_PT", "uk", "zh_CN"]
    default = "en"

    [install.init_main_permission]
    help.en = "If enabled, BookStack will be accessible by people who do not have an account. This can be changed later via the webadmin."
    help.fr = "Si cette case est cochée, BookStack sera accessible aux personnes n’ayant pas de compte. Vous pourrez changer ceci plus tard via la webadmin."
    type = "group"
    default = "visitors"

[resources]
    [resources.system_user]

    [resources.install_dir]

    [resources.permissions]
    main.url = "/"

    [resources.database]
    type = "mysql"

    [resources.apt]
    packages = "php${YNH_PHP_VERSION}-curl php${YNH_PHP_VERSION}-mysql php${YNH_PHP_VERSION}-ldap php${YNH_PHP_VERSION}-mbstring php${YNH_PHP_VERSION}-tidy php${YNH_PHP_VERSION}-xml php${YNH_PHP_VERSION}-zip php${YNH_PHP_VERSION}-gd"
