packaging_format = 2

id = "bookstack"
name = "BookStack"
description.en = "Platform to create documentation/wiki content"
description.fr = "Plateforme pour créer du contenu de documentation/wiki"

version = "24.10.1~ynh1"

maintainers = ["eric_G"]

[upstream]
license = "MIT"
website = "https://www.bookstackapp.com"
demo = "https://demo.bookstackapp.com"
admindoc = "https://www.bookstackapp.com/docs/admin/"
userdoc = "https://www.bookstackapp.com/docs/user/"
code = "https://github.com/BookStackApp/BookStack"

[integration]
yunohost = ">= 11.2.30"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = true

sso = true

disk = "50M"
ram.build = "500M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/bookstack"

    [install.admin]
    type = "user"

    [install.language]
    ask.en = "Choose the application language"
    ask.fr = "Choisissez la langue de l'application"
    type = "select"
    choices = ["de", "en", "es_ES", "fa", "fr", "it", "lt", "nl", "pl", "pt_PT", "uk", "zh_CN"]
    default = "en"

    [install.init_main_permission]
    help.en = "Si défini sur visiteurs, BookStack will be accessible by people who do not have an account. This can be changed later via the webadmin."
    help.fr = "Si visiteurs selectionné, BookStack sera accessible aux personnes n’ayant pas de compte. Vous pourrez changer ceci plus tard via la webadmin."
    type = "group"
    default = "visitors"

[resources]

    [resources.sources]

        [resources.sources.main]
        url = "https://github.com/BookStackApp/BookStack/archive/refs/tags/v24.10.1.tar.gz"
        sha256 = "cac6ec0c3957434ab4edafb3b70cc1d8cd7ff02936110d0570ae83701eb22575"
        rename = "bookstack.tar.gz"
        autoupdate.strategy = "latest_github_release"

    [resources.system_user]

    [resources.install_dir]
    group = "www-data:r-x"

    [resources.permissions]
    main.url = "/"
    api.url = "/api"
    api.show_tile = false
    api.allowed = "visitors"
    api.auth_header = false

    [resources.apt]
    packages = "mariadb-server, php8.3-curl, php8.3-mysql, php8.3-ldap, php8.3-mbstring, php8.3-tidy, php8.3-xml, php8.3-zip, php8.3-gd, redis-server"

    [resources.database]
    type = "mysql"
